<div class="loginForm">
  <mat-card>
    <div class="form-title">
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle>Welcome Back !</mat-card-subtitle>
    </div>

    <mat-card-content>
      <form (submit)="submit($event)">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required name="email" [(ngModel)]="user.email">
          <mat-hint>Enter your valid email!</mat-hint>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="midlaner@gmail.com" [formControl]="password" required name="password" [(ngModel)]="user.password">
          <mat-hint>Enter your Password!</mat-hint>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="submitButton">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

