.loginForm {
  max-width: 300px;
  margin: 100px auto;
}
.form-title {
  margin: 0 auto;
  text-align: center;
}
.form-field {
  width: 100%;
  margin-bottom: 6px;
}
form {
  text-align: center;
}
.submitButton {
  margin-top: 16px;
}
