<h1 class="mat-display-1 title">Welcome Gais ! </h1>
<div class="profileCard">
  <mat-card>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <mat-card-content>
      <div class="bio-detail">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        Alamat : {{user.address}}
      </div>
      <div class="bio-detail">
        <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
        Number Phone : {{user.numberPhone}}
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button">
      <button mat-raised-button color="primary">Update</button>
      <button mat-button color="warn" (click)="deleteAccount()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>



